{% extends "layout.html" %}

{% block body %}

<div class="team">
    <a><img src="https://tinyurl.com/y7bpu945" width="200" height="157"></a>
    <div class="desc">Jimerson Assencio - CEO</div>
    <a><img src="https://tinyurl.com/ya2edekz" width="200" height="157"></a>
    <div class="desc">Marina Ruriz - Content Editor</div>
    <a><img src="https://tinyurl.com/y8lcpzsb"  width="200" height="157"></a>
    <div class="desc">Daniel Blandon - Scrum Ninja</div>
    <a><img src="https://tinyurl.com/y9csfrfh" width="200" height="157"></a>
    <div class="desc">Mike Bergel - Minicoder</div>
</div>
{% endblock %}


