{% extends "layout.html" %}

{% block body %}

<div class="team">
    <img src="https://media.licdn.com/dms/image/C4E03AQGrMealCnF52w/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=eA6MEDyTjx1xWKnM5JjZAhXprHa0uRbzVmGxU9ot1T0" width="200" height="157">
    <img src="https://media.licdn.com/dms/image/C4D03AQFsd6z9yCBvdA/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=qJdttkfWwpYjfpaSre-VU72CIIWdUvyo7uUkD-YKEhc" width="200" height="157">
    <img src="https://media.licdn.com/dms/image/C4E03AQHIJ7Vw6wQKJA/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=iiAQ4d00xqKTcT6y0UUre1ACXdtzBysMw2D_p_mSEAo" width="200" height="157">    
    <img src="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2FC4D03AQE8y_UUFctGsA%2Fprofile-displayphoto-shrink_800_800%2F0%3Fe%3D1547078400%26v%3Dbeta%26t%3DhCJQ9imRsb5ku1-q-SQKnYfr4bcoKwPENmtv5nmkXyU&data=02%7C01%7Cmichael.bergel%40yale.edu%7C08592423b5004aef244808d6466d5360%7Cdd8cbebb21394df8b4114e3e87abeb5c%7C0%7C0%7C636773832689272922&sdata=LAOpvC4MsgffAyt%2F1kR6Ywnhtg31bGsNHkFKuZeG8DU%3D&reserved=0" width="200" height="157">        
</div>
{% endblock %}


